body {
	font-family: 'Gaegu', cursive, sans-serif;
	background-color: #d9d9da;
	margin: 0;
	font-size: 16px;
}

header {
	background-color: #333333;
	margin-left: 0px;
	display: flex;
	
}

.shop {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #333333;
	opacity: 0.9;
	overflow-x: hidden;
	transition: 0.5s;
}

.shop-element {
	position: relative;
	top: 1%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	color: white;
}

.shop a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.shop a:hover, .shop a:focus {
 	color: #f1f1f1;
}

.shop .closebtn {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 60px;
	z-index: 1;
}

.shop-icons {
	width: 25%;
	height: 25%;
}
#shop-icon {
	padding-left: 1%;
	padding-top: 1%;
	float: left;
	position: relative;
}
#logo {
	position: absolute;
	margin-left: 38%;
}

main{
	width: 100%;
	display: flex;
	margin: auto;
}

#left-container {
	width: 25%;
	background-color: #333333;
	margin-top: 15px;
	margin-left: 30px;
	color: white;
	-webkit-box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	-moz-box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	float: left;
	text-align: center;
	padding-left: 15px;
	order: 1;
}

#click-area {
	width: 30%;
	height: 50%;
	margin-left: auto;
	margin-top: 150px;
	float: left;
	order: 2;
}

#click-area img:hover {
	height: 55%;
	width: 55%;
}



#right-container {
	width: 25%;
	background-color: #333333;
	margin-top: 30px;
	margin-right: 30px;
	color: white;
	-webkit-box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	-moz-box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	float: right;
	padding-left: 15px;
	order: 3;
}

.animal {
	display: inline-block;
	width: 100%;
}

.animal h2 {
	margin-top: 15px;
	margin-left: 80px;
	text-align: left;
}

.animal-icons {
	width: 50px;
	height: 50px;
	float: left;
}
.shop-element table {
	border-spacing: 0;
	font-size: 18px
}

.shop-element td{
	padding: 0;
	line-height: 15px;
}

.shop-icon {
	width: 75px;
	height: 75px;
}

.top-row {
	border-top: 2px solid white;
}

.message-box {
	display: block;
	position: absolute;
	width:100%;
	height:100%;
	margin: auto auto;
	z-index: 2;
	background: #333333;
	opacity: 0.9;
	color: white;
	
}

.message-box div {
	width: 50%;
	margin-left: 25%;
	font-size: 25px;
	text-align: center;
}

.message-box a, #win-message-box a{
	color: white;
}

.message-box ol, h1,{
	text-align: justify;
}

.message-box button {
	height: 85px;
	width: 110px;
	border-radius: 5px;
	background: #d9d9da;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Gaegu';
}

.message-box button:hover {
	border: 1px solid #333333;
}
#win-message-box {
	display: none;
	position: absolute;
	width:100%;
	height:100%;
	margin: auto auto;
	z-index: 2;
	background: #333333;
	opacity: 0.98;
	color: white;
	text-align: center;
	font-size: 22px;
}
#win-message-box img {
	width: 250px
}