body {
	font-family: 'Gaegu', cursive, sans-serif;
	background-color: #d9d9da;
	margin: 0;
	font-size: 10px;
}

header {
	background-color: #333333;
	margin-left: 0;
	display: flex;
	position: relative;
	justify-content: space-evenly;
}
main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 450px;
}

h1 {
	color: #fff;
	font-size: 4em;
}

.shop {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(51,51,51,.975);
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 2;
}

.shop-element {
	position: relative;
	top: 1%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	color: white;
}

.shop a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #d5d5d5;
	display: block;
	transition: 0.3s;
}

.shop a:hover, .shop a:focus {
 	color: #f1f1f1;
}

.shop .closebtn {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 60px;
	line-height: 60px;
	z-index: 1;
}

.shop-icons {
	width: 25%;
	height: 25%;
}

#shop-icon {
	margin: auto 0 auto 1%;
	z-index: 1;
}

#logo {
	position: relative;
	width: 100%;
	text-align: center;
	margin-left: -75px;
}

#logo img {
	height: 100px;
}

main {
	width: 100%;
	display: flex;
	margin: auto;
}

#left-container {
	width: 410px;
	height: 100%;
	background-color: #333333;
	margin-top: 20px;
	margin-left: 20px;
	color: white;
	-webkit-box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	-moz-box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	text-align: center;
}

#click-area {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#click-area img {
	height: 250px;
	width: 250px;
	transition: transform .15s ease-in-out;
	transform-origin: center center;
	cursor: pointer;
}

#click-area img:hover {
	transform: scale(1.05);
}

#right-container {
	width: 30%;
	height: 100%;
	background-color: #333333;
	margin-top: 20px;
	margin-right: 20px;
	color: white;
	-webkit-box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	-moz-box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	box-shadow: 1px 1px 35px 5px rgba(51,51,51,1);
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#right-container > div > h2 {
	margin: 5px;
}

.animal {
	display: inline-block;
	width: 200px;
}
.animal-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-flow: wrap;
	height: 90%;
}

.animal h2 {
	margin-top: 15px;
	margin-left: 80px;
	text-align: left;
}

.animal-icons {
	width: 50px;
	height: 50px;
	padding: 0 0 10px 15px;
	float: left;
}
.shop-element table {
	border-spacing: 0;
	font-size: 12px;
	width: 100%;
}

.shop-element td {
	padding: 0;
	line-height: 12px;
}

.shop-icon {
	width: 50px;
	height: 50px;
	transition: transform .2s ease-in-out;
}
.shop-icon:hover {
	transform: scale(1.1);
}

.top-row {
	border-top: 2px solid white;
}

.message-box {
	position: absolute;
	width:100%;
	height:100%;
	margin: auto auto;
	z-index: 2;
	background: #333333;
	opacity: 0.9;
	color: white;
	
}

.message-box div {
	width: 50%;
	margin-left: 25%;
	font-size: 20px;
	text-align: center;
}

.message-box a, #win-message-box a{
	color: white;
}

.message-box button {
	height: 50px;
	width: 110px;
	border-radius: 5px;
	background: #d9d9da;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Gaegu', serif;
	line-height: 0;
}

.message-box button:hover {
	border: 1px solid #333333;
}
#win-message-box {
	display: none;
	position: absolute;
	width:100%;
	height:100%;
	margin: auto auto;
	z-index: 2;
	background: #333333;
	opacity: 0.98;
	color: white;
	text-align: center;
	font-size: 20px;
}
#win-message-box img {
	width: 250px
}